<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Data Provinsi & Kota/Kab</title>
  {{!-- Bootstrap CSS --}}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="d-flex align-items-center">
      <h1 class="col-6 text-primary">Provinsi & Kabupaten</h1>
      <div class="col-6 text-end">
         <a href="/add-provinsi"><button class="btn btn-primary rounded">Add Provinsi</button></a> 
        <button class="btn btn-primary rounded">Add Kota/Kab</button>
      </div>
    </div>
    <div class="mb-3">
      <select class="form-select" aria-label="Default select example" 
      style="width: 200px;">
        <option selected hidden>Select pulau</option>
        <option value="sumatra">Sumatra</option>
        <option value="jawa">Jawa</option>
        <option value="kalimantan">Kalimantan</option>
        <option value="maluku">Maluku</option>
        <option value="papua">Papua</option>
      </select>
    </div>
    <div class="row row-cols-md-4 row-cols-1">
      {{#each data}}
        <div class="col">
          <div class="card" style="width: 16rem;">
            <div class="d-flex justify-content-center">
              <img src="../uploads/{{this.img}}" class="card-img-top" alt="{{this.name}}" style="width: 120px;">
            </div>
            <div class="card-body">
              <h5 class="card-title text-center">{{this.name}}</h5>
              <p class="card-text text-center">{{this.diresmikan}}</p>
            </div>
          </div>
          <div class="d-flex justify-content-center" style="width: 16rem;">
            <a href="/detail-provinsi/{{this.id}}">
              <button class="btn btn-success mt-2 w-100">View Detail</button>
            </a>
          </div>
        </div>
      {{/each}}
      
    </div>
  </div>
  {{!-- Bootstrap JS --}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>